
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url('assets/desk\ background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

iframe {
    width: 100%; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    
    margin-bottom: 0px; /* Optional: space from the bottom */
    display: block;
    margin-left: 160px;
    margin-right: auto;
}
